body{
	background: #F5F5F5;
}
.text_small{
	font-size: 0.8rem;
}
.my_header,.my_footer{width: 100%;border: 0;}
@media (min-width: 576px) {
	.my_header{height: 12rem;}
	.my_footer{height: 32rem;}
}
@media (min-width: 992px) {
	.my_header{height: 6rem;}
	.my_footer{height: 19rem;}
}