.my_gray{
	background: linear-gradient(to bottom,#f0f0f0,#e0e0e0);
}
.my_btn1{
	width: 2rem;height: 2rem;
	padding: 0;
	border: 0;
	font-weight: bolder;
}
.my_input1{
	width: 20%;outline: 0;
	box-shadow: 0;
}
.my_img1{
	transition: 1s;
	margin-bottom: 0.2rem;
	margin-top: 0.6rem;
}
.my_img1:hover{
	transform: scale(1.1);
}
.page-item.active .page-link{
	background-color: #007bff !important;
}
.page-item .page-link{
	border-radius: 0.25rem;
	border-color: #ddd;
}
.page-item +.page-item{
	margin-left: 0.5rem;
}
.page-item .page-link:hover{
	border-color: #0aa1ed;
}